/* =========================
   MOBILE CONTROLS
========================= */


.mobile-controls {

    position: fixed;

    left: 0;
    right: 0;
    bottom: 20px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 10px;

    z-index: 10;

    pointer-events: none;

}



/* =========================
   BUTTON STYLE
========================= */


.mobile-controls button {

    width: 60px;

    height: 60px;

    border-radius: 16px;

    border: 1px solid rgba(139,92,246,.8);


    background:

    rgba(20,20,30,.75);


    color: white;


    font-size: 22px;

    font-weight: bold;


    backdrop-filter: blur(10px);


    box-shadow:

    0 0 20px rgba(139,92,246,.5);


    cursor: pointer;


    pointer-events: auto;


    transition: .2s;

}



/* PRESS EFFECT */

.mobile-controls button:active {

    transform: scale(.9);


    background:#8b5cf6;


    box-shadow:

    0 0 40px #8b5cf6;

}



/* =========================
   DIRECTION BUTTONS
========================= */


#up {

    margin-bottom:5px;

}



.middle-row {


    display:flex;


    gap:10px;


}



#down {

    margin-top:0;

}



.bottom-row {


    display:flex;


    gap:18px;


    margin-top:20px;

}




/* ACTION BUTTONS */


#backpack {

    font-size:25px;

}



#use {

    width:90px;

    font-size:16px;

}



#shoot {

    font-size:25px;

}




/* =========================
   DESKTOP
========================= */


@media (min-width:900px){


    .mobile-controls {

        transform:scale(.85);

        left:auto;

        right:30px;

        bottom:30px;

        align-items:center;

    }


}




/* =========================
   SMALL MOBILE
========================= */


@media (max-width:450px){


    .mobile-controls button {

        width:55px;

        height:55px;

    }


    #use {

        width:80px;

    }


}
