body {
    margin: 0;
    background: #050505;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #8b5cff;
    text-shadow: 0 0 15px #8b5cff;
}

canvas {
    background: #111;
    border: 2px solid #6d3cff;
    box-shadow: 0 0 25px #6d3cff;
}
